.likes {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  line-height: 0;
}

.full {
  margin-left: 5px;
  font-size: var(--md-font-size);
}

.thumbnail,
.popular {
  margin-left: 3px;
  font-size: var(--xs-font-size);
}

@media screen and (max-width: 1200px) {
  .full {
    margin-left: 3px;
    font-size: var(--xs-font-size);
  }
}
