.authLink {
  text-decoration: none;
  color: gray;
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--sm-font-size);
}

.authLinkActive {
  color: black;
}

.authLink:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 900px) {
  .authLink {
    font-size: var(--xs-font-size);
  }
}
