.navList {
  display: flex;
  justify-content: flex-start;
}

.navItem {
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
}

.navItemLink {
  text-decoration: none;
  color: gray;
}

.navItemActive {
  color: black;
}

.navContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  margin-left: 30px;
}
