.navList {
  display: flex;
  justify-content: flex-start;
}

.navItem {
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
}

.navItemLink {
  text-decoration: none;
  color: gray;
}

.navItemActive {
  color: royalblue;
}

.navContainer {
  display: flex;
  align-items: center;
}

.searchButton {
  margin-left: 30px;
}

.navItemSmall {
  font-size: var(--xs-font-size);
}
.navItemBig {
  font-size: var(--sm-font-size);
}
