.baner {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.baner::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: ' ';
  display: block;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}

.containerBaner {
  position: relative;
}

.title {
  position: absolute;
  color: #ececec;
  font: bold 24px 'Lora', serif;
  letter-spacing: 1px;
  bottom: 15px;
  left: 50px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.interactions {
  display: flex;
  align-items: center;
}

.likesCount {
  padding-left: 5px;
  font-size: var(--md-font-size);
}

img {
  width: 100%;
}

p {
  color: rgb(56, 56, 56);
}

h3 {
  font-size: var(--md-font-size);
  color: #1976d2;
}

h2 {
  font-size: var(--lg-font-size);
  color: #3d3d3d;
}

@media screen and (max-width: 900px) {
  .baner {
    height: 200px;
  }

  .title {
    font-size: var(--md-font-size);
    left: 20px;
  }

  .likesCount {
    padding-left: 2px;
    font-size: var(--xs-font-size);
  }

  p {
    font-size: var(--xs-font-size);
  }

  h3 {
    font-size: var(--sm-font-size);
  }
  h2 {
    font-size: var(--md-font-size);
  }
}
