.modal {
  position: fixed;
  z-index: 10;
  width: 800px;
  top: 5%;
  left: 25%;
  right: 25%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.back {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
