.logo {
  color: #1565c0;
  font: 700 18px 'Open Sans';
}

.link {
  color: #2e2e2e;
  text-decoration: none;
  font: 700 18px 'Open Sans';
}

@media screen and (max-width: 900px) {
  .link,
  .logo {
    font-size: var(--xs-font-size);
  }
}
