.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.all {
  margin-left: auto;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
