.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.all {
  margin-left: auto;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header {
  position: fixed;
  background: white;
  z-index: 5;
  width: 100%;
}

.headerLayout {
  height: var(--header-height);
}
